.seam {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-top: 1px solid #dae0e7;
  border-bottom: 1px solid #dae0e7;
}

.seam > div {
  height: 100%;
  box-sizing: border-box;
  border-left: 1px solid #dae0e7;
  border-right: 1px solid #dae0e7;
}

.seamDark {
  background: #0c1b31;
  border-top-color: #1e437b;
  border-bottom-color: #1e437b;
}

.seamDark > div {
  border-left-color: #1e437b;
  border-right-color: #1e437b;
}

@media (max-width: 768px) {
  .seam {
    height: 32px;
  }
}
